:root{
    --white: rgb(255, 255, 255);
    --white-dark: rgb(230, 230, 230);
    --black: rgb(35, 35, 35);
    --black-light: rgb(47, 47, 47);
    --blue: rgb(0, 38, 98);
}

button:hover{
    cursor: pointer;
}

button{
    transition: all 150ms ease;
}

body{
    height: 100vh;
    min-height: 40rem;
    background: var(--white-dark);
}